@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-[#FFFBEB] text-[#475569] antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
